<div class="panel panel-default">
    <div class="panel-body">

        <div class="btn-group" role="group">
            <a class="btn btn-default" data-ui-sref="list">Список</a>
            <a class="btn btn-default" data-ui-sref="createNewPokemon">Добавить нового</a>
            <a class="btn btn-default" data-ui-sref="privateCabinet">Личный кабинет</a>
        </div>

    </div>
</div>