<style>
    .ng-dirty.ng-invalid {
        border-color: #FA787E;
    }

    .ng-dirty.ng-valid {
        border-color: #78FA89;
    }

</style>

<form name="vm.accountForm" novalidate>
    <div class="form-group">
        <label>Имя</label>
        <input class="form-control" data-ng-model="vm.newAccount.name" type="text" placeholder="Имя" required ng-minlength="3" name="userName">
    </div>

    <div ng-messages="vm.accountForm.userName.$error" ng-if="vm.accountForm.userName.$dirty" role="alert">
        <div ng-message="required" class="alert alert-danger">А где имя?</div>
        <div ng-message="minlength" class="alert alert-danger">Имя слишком короткое</div>
    </div>

    <div class="form-group">
        <label>Email</label>
        <input class="form-control" data-ng-model="vm.newAccount.email" type="email" placeholder="Email" required name="userEmail">
    </div>

    <div role="alert" ng-messages="vm.accountForm.userEmail.$error" ng-if="vm.accountForm.userEmail.$dirty">
        <div ng-message="required" class="alert alert-danger">А где email?</div>
        <div ng-message="email" class="alert alert-danger">Это поле должно быть действительным электронным адресом</div>
    </div>

    <div class="form-group">
        <label>Телефон</label>
        <input class="form-control" data-ng-model="vm.newAccount.phone" type="number" placeholder="Телефон" data-ng-pattern="/^(\d)+$/" name="userPhone">
    </div>

    <div role="alert" ng-messages="vm.accountForm.userPhone.$error" ng-if="vm.accountForm.userPhone.$dirty">
        <div ng-message="pattern" class="alert alert-danger">Это значение должно быть числом</div>
    </div>

    <button type="submit" class="btn btn-default" data-ng-click="vm.addAccount(vm.newAccount)" data-ng-disabled="vm.accountForm.$invalid">Добавить
    </button>

    <pre>accountForm.userName.$error = {{ vm.accountForm.userName.$error | json }}</pre>
    <pre>accountForm.userEmail.$error = {{ vm.accountForm.userEmail.$error | json }}</pre>
    <pre>accountForm.userPhone.$error = {{ vm.accountForm.userPhone.$error | json }}</pre>

</form>
